header {
  display: flex;
}

.forms>form {
  display: none;
}

:has([value="buttons"]:checked)+div>.buttons,
:has([value="edit"]:checked)+div>.edit,
:has([value="remove"]:checked)+div>.remove,
:has([value="add"]:checked)+div>.add {
  display: block;
}
